# Backups
*~
\#*
.\#*

# OS-specific
.directory

# Python and packaging
*.pyc
*.egg-info/
build/
dist/
__pycache__
.ipynb_checkpoints

# Profiling
*.prof

# pytest
.pytest_cache
.cache

# Products
Data/
Output/
